body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px; 
}

h1 {
    margin-top: 0;
    margin-bottom: 20px; 
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 14px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #e2b6ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #ffc3fb;
}

#userInfo {
    text-align: center;
}

#userInfo h1 {
    margin-bottom: 5px;
    font-size: 20px;
}

#userInfo h2 {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 18px;
}

#userInfo p {
    margin-bottom: 8px;
    font-size: 12px;
}

#edad {
    margin-top: 15px;
    font-size: 12px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
}

